* {
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    color: white;
}

body {
    background-color: black;
}

p {
    text-align: center;
    margin: 10px;
    user-select: none;
}

.container {
    display: flex;
}

#items,
#map {
    margin: 10px;
    visibility: hidden;
}

#spritesCanvas,
#mapCanvas {
    cursor: pointer;
}
